{% extends "base.html" %}

{% block content %}
<main>
    <div class="main-wrapper">
        <p><a href="/">< กลับไปหน้าหลัก Back to Home</a></p>
        <div class="spacer-big"></div>
        <h1>ขออภัย ไม่พบหน้าที่ท่านเรียกดู Sorry, this page does not exist.</h1>
        <p>เนื้อหานี้อาจถูกลบไปแล้ว หรือ URL ไม่ถูกต้อง กรุณาตรวจสอบอีกครั้ง หรือลอง <a href="/">กลับไปหน้าแรก</a></p>
        <p>This content might have been removed, or the URL is incorrect. Please try again, or <a href="/">go back to Home page</a>.</p>
    </div>
</main>
{% endblock %}