{% extends "base.html" %}

{% block content %}
<main>
    <div class="main-wrapper">
        <p><a href="/">< กลับไปหน้าหลัก Back to Home</a></p>
        <div class="spacer-big"></div>
        <h1>ขออภัย เกิดความผิดพลาดของระบบ Sorry, system error has occurred.</h1>
        <p>ข้อผิดพลาดนี้อาจเกิดจากปัญหาของระบบ ท่านสามารถ <a href="/">กลับไปหน้าแรก</a> หรือแจ้งผู้ดูแลระบบเพื่อแก้ไขปัญหา</p>
        <p>This could be a fault in the system. You can <a href="/">go back to Home page</a> or notify the system admin to resolve the problem.</p>
    </div>
</main>
{% endblock %}