{% extends "base.html" %}

{% block content %}
<main>
    <div class="main-wrapper">
        <p><a href="/">< กลับไปหน้าหลัก Back to Home</a></p>
        <div class="spacer-big"></div>
        <div class="home-wrapper">
            <div class="home-content">
                <h1 class="header-home">Impact Flow</h1>
                <div class="home-flex-wrapper">
                    <div class="home-left">
                        <p>Impact Flow เป็นเครื่องมือจัดการผลกระทบสังคมในรูปแบบออนไลน์ซึ่งสนับสนุนองค์กรที่สร้างผลกระทบ รวมถึงองค์กรไม่แสวงหาผลกำไร วิสาหกิจเพื่อสังคม และแม้แต่โครงการ CSR ขององค์กร เพื่อการทำความเข้าใจ วางแผน และจัดการผลกระทบของตามเป้าหมายการพัฒนาอย่างยั่งยืน (SDG) อย่างมีประสิทธิภาพ พร้อมคำแนะนำทีละขั้นตอนอย่างละเอียด</p>
                    </div>
                    <div class="home-right">
                        <p>Impact Flow is an online impact management tool that supports impact organizations, including non-profit organizations, social enterprises and even corporate CSR projects, in understanding, planning and managing their SDG impacts more effectively, with a comprehensive, step-by-step guide.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="spacer-big"></div>
        <div class="main-bg-wrapper">
            <div class="align-center">
                <h1>Why Impact Flow?</h1>
            </div>
            <div class="home-flex-wrapper">
                <div class="home-left">
                    <img src="/static/1-sdg.svg" alt="SDG focused">
                </div>
                <div class="home-right">
                    <h3>มุ่งเน้น เป้าหมายการพัฒนาอย่างยั่งยืน (SDGs)</h3>
                    <p class="gray-standard">เครื่องมือนี้ช่วยองค์กรที่สร้างผลกระทบในการกำหนดผลกระทบทางสัมคมตามกรอบ SDG ที่พัฒนาโดยสหประชาชาติ และอำนวยความสะดวกในการสื่อสารผลกระทบในภาคส่วนต่างๆ</p>
                    <p class="gray-standard">The tool guides impact organizations to define impact based on United Nations' SDG framework. Facilitates impact communications across different sectors.</p>
                </div>
            </div>
            <div class="border"></div>
            <div class="home-flex-wrapper">
                <div class="home-left">
                    <h3>มุ่งเน้นผู้มีส่วนได้ส่วนเสีย</h3>
                    <p class="gray-standard">การออกแบบกรอบงานนี้ทำให้เจ้าของโครงการสามารถพิจารณาผลกระทบจากมุมมองของผู้มีส่วนได้ส่วนเสีย และให้มุมมองที่ครอบคลุมของผลกระทบมากยิ่งขึ้น</p>
                    <p class="gray-standard">Design of the framework helps project owners to look at impact from the perspective of stakeholders. Provides a clearer view of impact.</p>
                </div>
                <div class="home-right">
                    <img src="/static/2-stakeholder.svg" alt="Stakeholder oriented">
                </div>
            </div>
            <div class="border"></div>
            <div class="home-flex-wrapper">
                <div class="home-left">
                    <img src="/static/4-share.svg" alt="Impact data disclosure">
                </div>
                <div class="home-right">
                    <h3>ชุดเครื่องมือแบบครบวงจร</h3>
                    <p class="gray-standard">เป็นเครื่องมือที่ครอบคลุมกระบวนการจัดการผลกระทบทั้งหมด ตั้งแต่การวางแผนผลกระทบ การเลือกตัวชี้วัด การรวบรวมข้อมูล ไปจนถึงการติดตามและประเมินผล</p>
                    <p class="gray-standard">A comprehensive tool that covers the whole impact management process, from impact planning, indicator selection, data collection to monitoring and evaluation.</p>
                </div>
            </div>
            <div class="border"></div>
            <div class="home-flex-wrapper">
                <div class="home-left">
                    <h3>อำนวยความสะดวกในการเปิดเผยข้อมูลผลกระทบ</h3>
                    <p class="gray-standard">ข้อมูลผลกระทบทั้งหมดถูกเก็บไว้ในที่เดียวเพื่อการจัดการที่มีประสิทธิภาพ 
                    เจ้าของโครงการอาจเปิดเผยข้อมูลโครงการและส่งผลกระทบต่อข้อมูลโดยตรงจากแพลตฟอร์ม
                    </p>
                    <p class="gray-standard">All impact data is kept in one place for efficient management. Project owners may disclose project information and impact data directly from the platform.</p>
                </div>
                <div class="home-right">
                    <img src="/static/1-sdg.svg" alt="SDG focused">
                </div>
            </div>
        </div>
        <div class="home-wrapper">
            <div class="home-content">
                <div class="align-center">
                    <h1>The Origin</h1>
                </div>
                <div class="home-flex-wrapper">
                    <div class="home-left">
                        <p>Impact Flow เป็นโครงการความร่วมมือระหว่าง UNDP สำนักงานคณะกรรมการกำกับหลักทรัพย์และตลาดหลักทรัพย์ (กลต.) Social Value Japan และ สถาบัน ChangeFusion โดยมีเป้าหมายเพื่อพัฒนาเครื่องมือการจัดการผลกระทบที่ได้มาตรฐาน ซึ่งจะอำนวยความสะดวกในการตรวจสอบและรายงานผลกระทบตามเป้าหมายการพัฒนาอย่างยั่งยืน (SDG) เป็นสิ่งสำคัญในการเพิ่มความรับผิดชอบและความโปร่งใสขององค์กรที่สร้างผลกระทบโดยทั่วไป</p>
                        <p>ชุดเครื่องมือมาตรฐานในการรายงานผลกระทบยังช่วยในการทำความเข้าใจผลกระทบและการรวมข้อมูลผลกระทบในอุตสาหกรรมต่างๆ</p>
                        <p>นอกจากนี้ การมีเครื่องมือที่ช่วยให้สามารถสื่อสารผลกระทบตามหลักฐานได้จะช่วยกระตุ้นการเติบโตของการลงทุนด้านผลกระทบ ซึ่งจะขับเคลื่อนการสร้างผลกระทบ</p>
                    </div>
                    <div class="home-right">
                        <p>Impact Flow is a collaboration project between UNDP Thailand, Thai SEC, Social Value Japan, and ChangeFusion, with the aim to develop a standardized impact management tool that will facilitate the monitoring and reporting of SDG impacts, which is critical for improving accountability and transparency of impact organizations in general.</p>
                        <p>A common set of impact reporting standards also facilitate understanding of impact and consolidation of impact data across different sectors.</p>
                        <p>Furthermore, with a tool that supports evidence-based communication of impacts, it will further encourage the development of impact investment to drive impact creation.</p>
                    </div>
                </div>
            </div>
        </div>
</main>
{% endblock %}