{% extends "base.html" %}

{% block content %}
<main class="main-wrapper">
    <p><a href="/project/{{ project.id }}">< กลับไปหน้าโครงการ Back to Project</a></p>
    <div class="spacer-big"></div>
    <div id="formApp">
        <div id="csrf">{{ form.csrf_token }}</div>
        <div id="projectId" style="display: none;">{{ project.id }}</div>
        <div id="stakeholderId" style="display: none;">{{ stakeholder.id }}</div>

        <h1>เพิ่มกิจกรรม Add an Activity</h1>
        <p>กิจกรรม Activity</p>
        <p class="help-text">อธิบายกิจกรรมที่จะทำกับผู้มีส่วนได้เสียกลุ่มนี้ Describe an activity to be done with this stakeholder.</p>
        <textarea id="activity" type="text" placeholder="กิจกรรม Activity"></textarea><br><br>
        <hr><br>

        <div class="button-wrapper">
            <button id="formSubmit" class="button" type="button" onclick="fetchSubmit()">บันทึกข้อมูล<br>Submit</button>
        </div>
        <br>
    </div>
</main>
<script src="/static/activity-create.js"></script>
{% endblock %}