{% extends "base.html" %}

{% block content %}
<main class="main-wrapper">
    <p><a href="/project/{{ project.id }}">< กลับไปหน้าโครงการ Back to Project</a></p>
    <div class="spacer-big"></div>
    <div id="formApp">
        <div id="csrf">{{ form.csrf_token }}</div>
        <div id="projectId" style="display: none;">{{ project.id }}</div>
        <div id="stakeholderId" style="display: none;">{{ stakeholder.id }}</div>

        <h1>เพิ่มกิจกรรม Add an Activity</h1>
        <p>กิจกรรม Activity</p>
        <div class="form-part-wrapper">
            <div class="form-part-left">
                <p class="gray-small">อธิบายการดำเนินการเพื่อจัดการกับข้อกังวลและข้อกำหนดของผู้มีส่วนได้ส่วนเสีย ตลอดจนกิจกรรมที่ผู้มีส่วนได้ส่วนเสียต้องมีส่วนร่วม Describe the interventions taken to address the problems and needs of the stakeholder or the activities that stakeholders have to participate in.</p>
                <textarea id="activity" type="text" placeholder="กิจกรรม Activity"></textarea><br><br>               
            </div>
            <div class="form-part-right">
                <p class="gray-small">ตัวอย่าง Example</p>
                <p>Fisherfolk ซื้อปลาที่จับได้จากชาวประมงรายย่อยในราคาสูงกว่าราคาตลาด 5-20%</p>
                <p>Fisherfolk purchases sea catches from small scale fishermen at prices 5-20% higher than market rate</p>
            </div>
        </div>
        

        <div class="button-wrapper">
            <button id="formSubmit" class="button" type="button" onclick="fetchSubmit()">บันทึกข้อมูล<br>Submit</button>
        </div>
        <br>
    </div>
</main>
<script src="/static/activity-create.js"></script>
{% endblock %}