{% extends "base.html" %}

{% block content %}
<main>
    <div class="main-wrapper">
        <div class="home-wrapper">
            <div class="home-left">
                <h1>Impact Flow คืออะไร?</h1>
                <p>Impact Flow เป็นเครื่องมือจัดการผลกระทบสังคมในรูปแบบออนไลน์ซึ่งสนับสนุนองค์กรที่สร้างผลกระทบ รวมถึงองค์กรไม่แสวงหาผลกำไร วิสาหกิจเพื่อสังคม และแม้แต่โครงการ CSR ขององค์กร  เพื่อการทำความเข้าใจ วางแผน และจัดการผลกระทบของตามเป้าหมายการพัฒนาอย่างยั่งยืน (SDG) อย่างมีประสิทธิภาพ พร้อมคำแนะนำทีละขั้นตอนอย่างละเอียด:</p>
                <ul>
                    <li>การวางแผนผลกระทบ</li>
                    <li>การเลือกตัวชี้วัด</li>
                    <li>การเก็บรวบรวมข้อมูล</li>
                    <li>การติดตามและประเมินผล</li>
                </ul>
        
                <p>แนวทางที่เป็นระบบในการจัดการผลกระทบจะช่วยให้องค์กรที่สร้างผลกระทบ สามารถอธิบายว่ากิจกรรมของพวกเขามีประโยชน์ต่อสังคมอย่างไรในแนวทางที่ชัดเจนและโปร่งใส</p>
        
                <h2>ทำไมต้อง Impact Flow?</h2>
        
                <h3>มุ่งเน้น เป้าหมายการพัฒนาอย่างยั่งยืน (SDGs)</h3>
                <p>เครื่องมือนี้ช่วยองค์กรที่สร้างผลกระทบในการกำหนดผลกระทบทางสัมคมตามกรอบ SDG ที่พัฒนาโดยสหประชาชาติ และอำนวยความสะดวกในการสื่อสารผลกระทบในภาคส่วนต่างๆ</p>
        
                <h3>มุ่งเน้นผู้มีส่วนได้ส่วนเสีย</h3>
                <p>การออกแบบกรอบงานนี้ทำให้เจ้าของโครงการสามารถพิจารณาผลกระทบจากมุมมองของผู้มีส่วนได้ส่วนเสีย และให้มุมมองที่ครอบคลุมของผลกระทบมากยิ่งขึ้น</p>
        
                <h3>ชุดเครื่องมือแบบครบวงจร</h3>
                <p>เป็นเครื่องมือที่ครอบคลุมกระบวนการจัดการผลกระทบทั้งหมด ตั้งแต่การวางแผนผลกระทบ การเลือกตัวชี้วัด การรวบรวมข้อมูล ไปจนถึงการติดตามและประเมินผล</p>
        
                <h3>อำนวยความสะดวกในการเปิดเผยข้อมูลผลกระทบ</h3>
                <p>ข้อมูลผลกระทบทั้งหมดถูกเก็บไว้ในที่เดียวเพื่อการจัดการที่มีประสิทธิภาพ 
                เจ้าของโครงการอาจเปิดเผยข้อมูลโครงการและส่งผลกระทบต่อข้อมูลโดยตรงจากแพลตฟอร์ม
                </p>
        
                <h2>ที่มาของ Impact Flow</h2>
                <p> Impact Flow เป็นโครงการความร่วมมือระหว่าง Social Value Japan และ สถาบัน ChangeFusion โดยมีเป้าหมายเพื่อพัฒนาเครื่องมือการจัดการผลกระทบที่ได้มาตรฐาน ซึ่งจะอำนวยความสะดวกในการตรวจสอบและรายงานผลกระทบตามเป้าหมายการพัฒนาอย่างยั่งยืน (SDG) เป็นสิ่งสำคัญในการเพิ่มความรับผิดชอบและความโปร่งใสขององค์กรที่สร้างผลกระทบโดยทั่วไป</p>
                <p>ชุดเครื่องมือมาตรฐานในการรายงานผลกระทบยังช่วยในการทำความเข้าใจผลกระทบและการรวมข้อมูลผลกระทบในอุตสาหกรรมต่างๆ</p>
                <p>นอกจากนี้ การมีเครื่องมือที่ช่วยให้สามารถสื่อสารผลกระทบตามหลักฐานได้จะช่วยกระตุ้นการเติบโตของการลงทุนด้านผลกระทบ ซึ่งจะขับเคลื่อนการสร้างผลกระทบ</p>
        
                <h2>พันธมิตรที่เกี่ยวข้อง</h2>
                <ul>
                    <li>สถาบัน ChangeFusion</li>
                    <li>Social Value Japan</li>
                    <li>UNDP ประเทศไทย</li>
                    <li>สำนักงานคณะกรรมการกำกับหลักทรัพย์และตลาดหลักทรัพย์ (กลต.)</li>
                </ul>
            </div>
            <div class="home-right">
                <h1>What is Impact Flow?</h1>
                <p>Impact Flow is an online impact management tool that supports impact organizations, including non-profit organizations, social enterprises and even corporate CSR projects, in understanding, planning and managing their SDG impacts more effectively, with a comprehensive, step-by-step guide to:</p>
                <ul>
                    <li>Impact planning</li>
                    <li>Indicator selection</li>
                    <li>Data collection</li>
                    <li>Monitoring and evaluation</li>
                </ul>
        
                <p>The systematic approach in managing impact would empower impact organizations to demonstrate with clarity and transparency how their work is creating value for the society.</p>
        
                <h2>Why Impact Flow?</h2>
        
                <h3>SDG focused</h3>
                <p>The tool guides impact organizations to define impact based on United Nations’ SDG framework. Facilitates impact communications across different sectors.</p>
        
                <h3>Stakeholder oriented</h3>
                <p>Design of the framework helps project owners to look at impact from the perspective of stakeholders. Provides a clearer view of impact.</p>
        
                <h3>One-stop toolkit</h3>
                <p>A comprehensive tool that covers the whole impact management process, from impact planning, indicator selection, data collection to monitoring and evaluation.</p>
        
                <h3>Impact data disclosure facilitated</h3>
                <p>All impact data is kept in one place for efficient management. Project owners may disclose project information and impact data directly from the platform.</p>
        
                <h2>The origin</h2>
                <p>Impact Flow is a collaboration project between UNDP Thailand and ChangeFusion with the aim to develop a standardized impact management tool that will facilitate the monitoring and reporting of SDG impacts, which is critical for improving accountability and transparency of impact organizations in general.</p>
                <p>A common set of impact reporting standards also facilitate understanding of impact and consolidation of impact data across different sectors.</p>
                <p>Furthermore, with a tool that supports evidence-based communication of impacts, it will further encourage the development of impact investment to drive impact creation.</p>
        
                <h2>Partners involved</h2>
                <ul>
                    <li>ChangeFusion</li>
                    <li>UNDP Thailand</li>
                    <li>Securities and Exchange Commission</li>
                    <li>Social Value Japan</li>
                </ul>
            </div>
        </div>
        
        <hr>
        
        <div class="spacer-big"></div>
        {% if not current_user.is_authenticated %}
            <div class="info-box">
                <div class="align-center">
                    Welcome! Please&nbsp;&nbsp;<a class="no-decoration" href="/login"><button class="button">Login</button></a>&nbsp;&nbsp;to create, view, and edit your Impact Model.
                </div>
                
            </div>
        {% else %}
            <div class="info-box">
                <div class="align-center">
                    Hello {{ current_user.name }}<br>
                    <a class="no-decoration" href="/project-create"><button class="button">กดสร้าง Impact Model<br>Create an Impact Model</button></a>
                </div>
            </div>
        {% endif %}
        <br>
        {% if current_user.is_authenticated %}
            <h2>My Impact Models</h2>
            {% if not projects %}
                <p>No Impact Model [<a href="/project-create">Create an Impact Model</a>]</p>
            {% endif %}
            <div class="homecard-flex-wrapper">
                {% for project in projects %}
                    <div class="homecard-flex">
                        <a class="no-decoration" href="/project/{{ project.id }}">
                            <div class="homecard-inner-flex-wrapper">
                                <div class="homecard-inner-flex-img">
                                    {% if project.img_url %}
                                        {% if project.img_url|length > 2 %}
                                            <img class="homecard" src="{{ project.img_url|img_convert }}" alt="{{ project.json['title'] }} logo">
                                        {% else %}
                                            <img class="homecard" src="/static/impactflow-logo.png" alt="Placeholder logo">
                                        {% endif %}
                                    {% else %}
                                        <img class="homecard" src="/static/impactflow-logo.png" alt="Placeholder logo">
                                    {% endif %}
                                </div>
                                <div class="homecard-inner-flex-content">
                                    <h2>{{ project.json['title'] }}</h2>
                                    <p>{{ project.json['objectives']|truncate(100) }}</p>
                                    {% if project.json['published'] %}
                                        <span class="shared">เผยแพร่ Shared</span>
                                    {% else %}
                                        <span class="private">ไม่เผยแพร่ Private</span>
                                    {% endif %}
                                    <br><br>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <br>
        <hr>
        <br>
        <h2>Shared Impact Models</h2>
        {% for project_published in projects_published %}
            <p><a href="/project/{{ project_published.id }}">{{ project_published.json['title'] }}</a> <span class="gray-small">created {{ project_published.create_dt|datetimefilter }}</span></p>
        {% endfor %}
        <br>
        {% if current_user.is_authenticated %}
            {% if current_user.role == 'admin' %}
            <hr>
            <br>
            <h2>Private Impact Models</h2>
            <span class="admin">Viewable by Admin only</span>
                {% for project_unpublished in projects_unpublished %}
                    <p><a href="/project/{{ project_unpublished.id }}">{{ project_unpublished.json['title'] }}</a> <span class="gray-small">created {{ project_unpublished.create_dt|datetimefilter }}</span></p>
                {% endfor %}
            {% endif %}
        {% endif %}
    </div>
</main>
{% endblock %}