{% extends "base.html" %}

{% block content %}
<main class="main-wrapper">
    <p><a href="/project/{{ project.id }}">< กลับไปหน้าโครงการ Back to Project</a></p>
    <div class="spacer-big"></div>
    <div id="formApp">
        <div id="csrf">{{ form.csrf_token }}</div>
        <div id="projectId" style="display: none;">{{ project.id }}</div>
        <div id="stakeholderId" style="display: none;">{{ stakeholder.id }}</div>
        <div id="activityId" style="display: none;">{{ activity.id }}</div>
        <div id="outputId" style="display: none;">{{ output.id }}</div>
        <div id="outcomeId" style="display: none;">{{ outcome.id }}</div>
        <div id="data" style="display:none">{{ data }}</div>
        <div id="dataProject" style="display:none">{{ data_project }}</div>

        <h1>แก้ไขผลลัพธ์ Edit the Outcome</h1>
        <p>ผลลัพธ์ Outcome</p>
        <p class="gray-small">อธิบายผลลัพธ์ที่คาดหวังในระยะกลางถึงระยะยาวจากผลลัพธ์ที่ระบุไว้ Describe the mid- to long-term expected outcomes as a result of the output stated.</p>
        <textarea id="outcome" type="text" placeholder="ผลลัพธ์ Outcome">{{ outcome['json']['outcome'] }}</textarea><br><br>
        <hr><br>

        <p class="blue-em">--- ค้นหาตัวชี้วัดมาตรฐาน Search our standard indicators bank ---</p>
        <p class="gray-small">ระบุตัวชี้วัดที่ช่วยวัดผลผลิตที่ระบุ หรือสร้างตัวชี้วัดของคุณเองโดยใช้แบบฟอร์มด้านล่าง ขอแนะนำให้ตรวจสอบกับผู้มีส่วนได้ส่วนเสียอีกครั้งเพื่อประเมินความเหมาะสมของตัวชี้วัดที่เลือก ควรพิจารณาการปฏิบัติจริงของตัวชี้วัดในแง่ของการเก็บรวบรวมข้อมูลและค่าใช้จ่ายในการบริหารด้วย Identify indicator that helps measure the output stated or create your own indicator below. It is recommended to re-check with stakeholders to assess the suitability of the indicator selected. One should also consider the indicator’s practicality in terms of data collection and management costs.</p>
        <input type="text" id="searchBox" class="search-box" placeholder="พิมพ์คำสำคัญ Type keywords" onkeyup="searchSubmit()">
        <button type="button" class="search-button" onclick="searchSubmit()">Search</button>
        <br>
        
        <div id="searchResultNumWrapper" style="display:none">
            <button type="button" class="search-clear-button" onclick="searchClear()">เคลียร์ผลการค้นหา Clear results</button>
            <p>ผลการค้นหา Result <span id="searchResultNum">0</span> รายการ entries</p>
        </div>
        <div id="searchResult" class="search-result"></div>
        <div class="spacer-big"></div>

        <p class="blue-em">--- หรือพิมพ์ตัวชี้วัดเอง Or use your own indicator ---</p>
        <input id="indicatorCategory" type="text" value="{{ outcome['json']['indicatorCategory'] }}" placeholder="หมวดหมู่ Category" style="display: none;">
        <textarea id="indicator" type="text" placeholder="ตัวชี้วัด Indicator">{{ outcome['json']['indicator'] }}</textarea><br><br>
        <input id="indicatorBaseline" type="number" value="{{ outcome['json']['indicatorBaseline'] }}" placeholder="จำนวนเริ่ม Baseline amount">
        <input id="indicatorTarget" type="number" value="{{ outcome['json']['indicatorTarget'] }}" placeholder="จำนวนเป้าหมาย Target amount">
        <input id="indicatorUnit" type="text" value="{{ outcome['json']['indicatorUnit'] }}" placeholder="หน่วย Unit">
        <hr><br>

        <p>ผลลัพธ์นี้สอดคล้องกับเป้าหมายใดของโครงการ Which project's impact goals are compatible with this outcome?</p>
        <div id="impactCheckWrapper"></div>
        <hr><br>
        
        <div class="button-wrapper">
            <button id="formSubmit" class="button" type="button" onclick="fetchSubmit()">บันทึกข้อมูล<br>Submit</button>
        </div>
        <br>
    </div>
</main>
<script src="/static/outcome-edit.js"></script>
{% endblock %}