{% extends "base.html" %}

{% block content %}
<main class="main-wrapper">
    <p><a href="/project/{{ project.id }}">< กลับไปหน้าโครงการ Back to Project</a></p>
    <div class="spacer-big"></div>
    <div id="formApp">
        <div id="csrf">{{ form.csrf_token }}</div>
        <div id="projectId" style="display: none;">{{ project.id }}</div>
        <div id="stakeholderId" style="display: none;">{{ stakeholder.id }}</div>
        <div id="activityId" style="display: none;">{{ activity.id }}</div>
        <div id="outputId" style="display: none;">{{ output.id }}</div>
        <div id="dataProject" style="display:none">{{ data_project }}</div>

        <h1>เพิ่มผลลัพธ์ Add an Outcome</h1>

        <div class="form-section-wrapper">
            <h2 class="form-section-title">ผลลัพธ์ Outcome</h2>
            <div class="form-part-wrapper">
                <div class="form-part-left">
                    <p class="black-small">ผลลัพธ์ Outcome</p>
                    <textarea id="outcome" type="text" placeholder="ผลลัพธ์ Outcome"></textarea><br>                
                </div>
                <div class="form-part-right">
                    <p class="gray-small">ตัวอย่าง Example</p>
                    <p>หนี้สินครัวเรือนลดลง</p>
                    <p>Decrease in household debt</p>
                </div>
            </div>
            <hr>
            <p class="black-small">คำแนะนำ Suggestion</p>
            <p class="gray-small">อธิบายผลลัพธ์ที่คาดหวังในระยะกลางถึงระยะยาวจากผลลัพธ์ที่ระบุไว้ Describe the mid- to long-term expected outcomes as a result of the output stated.</p>
        </div>

        <div class="form-section-wrapper">
            <h2 class="form-section-title">ตัวชี้วัด Indicators</h2>
            <div class="form-part-wrapper">
                <div class="form-part-left">
                    <p class="black-small">ค้นหาตัวชี้วัดมาตรฐาน Search our standard indicators bank</p>
                    <input type="text" id="searchBox" class="search-box" placeholder="พิมพ์คำสำคัญ Type keywords" onkeyup="searchSubmit()">
                    <button type="button" class="search-button" onclick="searchSubmit()" style="display: none;">Search</button>
                    <br>
                    
                    <div id="searchResultNumWrapper" style="display:none">
                        <button type="button" class="search-clear-button" onclick="searchClear()">เคลียร์ผลการค้นหา Clear results</button>
                        <p>ผลการค้นหา Result <span id="searchResultNum">0</span> รายการ entries</p>
                    </div>
                    <div id="searchResult" class="search-result"></div>
                    <div class="spacer-big"></div>
            
                    <p class="blue-em">--- หรือพิมพ์ตัวชี้วัดเอง Or use your own indicator ---</p>
                    <input id="indicatorCategory" type="text" placeholder="หมวดหมู่ Category" style="display: none;">
                    <textarea id="indicator" type="text" placeholder="ตัวชี้วัด Indicator"></textarea><br>
                    <p class="black-small">จำนวนเริ่ม Baseline amount</p>
                    <input id="indicatorBaseline" type="number" placeholder="จำนวนเริ่ม Baseline amount">
                    <p class="black-small">จำนวนเป้าหมาย Target amount</p>
                    <input id="indicatorTarget" type="number" placeholder="จำนวนเป้าหมาย Target amount">
                    <p class="black-small">หน่วย Unit</p>
                    <input id="indicatorUnit" type="text" placeholder="หน่วย Unit">
                    <br>                
                </div>
                <div class="form-part-right">
                    <p class="gray-small">ตัวอย่าง Example</p>
                    <p>ระดับหนี้สินครัวเรือน - ต่อครัวเรือน</p>
                    <ul>
                        <li>พื้นฐาน: 250,000 บาท</li>
                        <li>เป้าหมาย: 150,000 บาท</li>
                    </ul>

                    <p>Level of household debt - per household</p>
                    <ul>
                        <li>Baseline: 250,000 Baht</li>
                        <li>Target: 150,000 Baht</li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="black-small">คำแนะนำ Suggestion</p>
            <p class="gray-small">ระบุตัวชี้วัดที่ช่วยวัดผลผลิตที่ระบุ หรือสร้างตัวชี้วัดของคุณเองโดยใช้แบบฟอร์มด้านล่าง ขอแนะนำให้ตรวจสอบกับผู้มีส่วนได้ส่วนเสียอีกครั้งเพื่อประเมินความเหมาะสมของตัวชี้วัดที่เลือก ควรพิจารณาการปฏิบัติจริงของตัวชี้วัดในแง่ของการเก็บรวบรวมข้อมูลและค่าใช้จ่ายในการบริหารด้วย Identify indicator that helps measure the output stated or create your own indicator below. It is recommended to re-check with stakeholders to assess the suitability of the indicator selected. One should also consider the indicator’s practicality in terms of data collection and management costs.</p>
        </div>
        
        <div class="form-section-wrapper">
            <h2 class="form-section-title">ผลลัพธ์นี้สอดคล้องกับเป้าหมายใดของโครงการ Which project's impact goals are compatible with this outcome?</h2>
            <div class="form-part-wrapper">
                <div class="form-part-left">
                    <p class="black-small">ผลลัพธ์นี้สอดคล้องกับเป้าหมายใดของโครงการ Which project's impact goals are compatible with this outcome?</p>
                    <div id="impactCheckWrapper"></div>
                    <br>                
                </div>
                <div class="form-part-right">
                    <p class="gray-small">ตัวอย่าง Example</p>
                    <p>เพื่อพัฒนาความเป็นอยู่ทางเศรษฐกิจของชาวประมงรายย่อยในภาคใต้ของประเทศไทย</p>
                    <p>To improve economic well-being of small scale fishermen in Southern Thailand</p>
                </div>
            </div>
        </div>
        
        <div class="button-wrapper">
            <button id="formSubmit" class="button" type="button" onclick="fetchSubmit()">บันทึกข้อมูล<br>Submit</button>
        </div>
        <br>
    </div>
</main>
<script src="/static/outcome-create.js"></script>
{% endblock %}