{% extends "base.html" %}

{% block content %}
<main class="main-wrapper">
    <p><a href="/project/{{ project.id }}">< กลับไปหน้าโครงการ Back to Project</a></p>
    <div class="spacer-big"></div>
    <div id="formApp">
        <div id="csrf">{{ form.csrf_token }}</div>
        <div id="projectId" style="display: none;">{{ project.id }}</div>
        <div id="stakeholderId" style="display: none;">{{ stakeholder.id }}</div>
        <div id="activityId" style="display: none;">{{ activity.id }}</div>

        <h1>เพิ่มผลผลิต Add an Output</h1>
        <p>ผลผลิต Output</p>
        <p class="gray-small">อธิบายผลกระทบหรือการเปลี่ยนแปลงที่เกิดขึ้นทันที หรือ ระยะสั้นซึ่งเป็นผลมาจากกิจกรรมที่ระบุ Describe the immediate, short-term results or changes based on the activity stated.</p>
        <textarea id="output" type="text" placeholder="ผลผลิต Output"></textarea><br><br>
        <hr><br>

        <p class="blue-em">--- ค้นหาตัวชี้วัดมาตรฐาน Search our standard indicators bank ---</p>
        <p class="gray-small">ระบุตัวชี้วัดที่ช่วยวัดผลผลิตที่ระบุ หรือสร้างตัวชี้วัดของคุณเองโดยใช้แบบฟอร์มด้านล่าง ขอแนะนำให้ตรวจสอบกับผู้มีส่วนได้ส่วนเสียอีกครั้งเพื่อประเมินความเหมาะสมของตัวชี้วัดที่เลือก ควรพิจารณาการปฏิบัติจริงของตัวชี้วัดในแง่ของการเก็บรวบรวมข้อมูลและค่าใช้จ่ายในการบริหารด้วย Identify indicator that helps measure the output stated or create your own indicator below. It is recommended to re-check with stakeholders to assess the suitability of the indicator selected. One should also consider the indicator’s practicality in terms of data collection and management costs.</p>
        <input type="text" id="searchBox" class="search-box" placeholder="พิมพ์คำสำคัญ Type keywords" onkeyup="searchSubmit()">
        <button type="button" class="search-button" onclick="searchSubmit()">Search</button>
        <br>
        
        <div id="searchResultNumWrapper" style="display:none">
            <button type="button" class="search-clear-button" onclick="searchClear()">เคลียร์ผลการค้นหา Clear results</button>
            <p>ผลการค้นหา Result <span id="searchResultNum">0</span> รายการ entries</p>
        </div>
        <div id="searchResult" class="search-result"></div>
        <div class="spacer-big"></div>

        <p class="blue-em">--- หรือพิมพ์ตัวชี้วัดเอง Or use your own indicator ---</p>
        <input id="indicatorCategory" type="text" placeholder="หมวดหมู่ Category" style="display: none;">
        <textarea id="indicator" type="text" placeholder="ตัวชี้วัด Indicator"></textarea><br><br>
        <input id="indicatorBaseline" type="number" placeholder="จำนวนเริ่ม Baseline amount">
        <input id="indicatorTarget" type="number" placeholder="จำนวนเป้าหมาย Target amount">
        <input id="indicatorUnit" type="text" placeholder="หน่วย Unit">
        <hr><br>
        
        <div class="button-wrapper">
            <button id="formSubmit" class="button" type="button" onclick="fetchSubmit()">บันทึกข้อมูล<br>Submit</button>
        </div>
        <br>
    </div>
</main>
<script src="/static/output-create.js"></script>
{% endblock %}