{% extends "base.html" %}

{% block content %}
<div class="main-wrapper">
    <div class="login-wrapper">
        <h1>เปลี่ยนรหัสผ่าน Change Password</h1>
        <form method="POST" action="/password-change">
            {{ form.csrf_token }}
            <div class="input-wrapper">
                {{ form.password_current(size=23, placeholder="รหัสผ่านเดิม Old password", autofocus=true) }}<br>
                {{ form.password_new(size=23, placeholder="รหัสผ่านใหม่ New Password") }}<br>
                {{ form.password_new_check(size=23, placeholder="ยืนยันรหัสใหม่ Confirm new password") }}<br>
            </div>
            <div class="button-wrapper">
                {{ form.submit(class_="button") }}
            </div>
        </form>
    </div>
</div>
{% endblock %}