{% extends "base.html" %}

{% block content %}
<main class="main-wrapper">
    <p><a href="/project/{{ project.id }}">< กลับไปหน้าโครงการ Back to Project</a></p>
    <div class="spacer-big"></div>
    <div id="formApp">
        <div id="csrf">{{ form.csrf_token }}</div>
        <div id="projectId" style="display:none">{{ project.id }}</div>
        <div id="data" style="display:none">{{ data }}</div>

        <h1>แก้ไขข้อมูลโครงการ Project Edit</h1>
        <p>ชื่อโครงการ/องค์กร Project/Organisation Name</p>
        <div class="form-part-wrapper">
            <div class="form-part-left">
                <p class="gray-small">เพื่อหลีกเลี่ยงความสับสน หากองค์กรของคุณมีความคิดริเริ่มที่สร้างผลกระทบมากมาย วิธีที่ดีที่สุดคือสร้างโปรไฟล์โครงการแยกกันสำหรับแต่ละโครงการ If your organization has multiple impact generating projects, it is recommended to build separate project profiles for each to avoid confusion.</p>
                <input id="title" type="text" value="{{ project['json']['title'] }}">
                <br>
            </div>
            <div class="form-part-right">
                <p class="gray-small">ตัวอย่าง Example</p>
                <p>คนจับปลา (Fisherfolks)</p>
            </div>
        </div>
       
        <p>เป้าหมาย Impact Goals</p>
        <div class="form-part-wrapper">
            <div class="form-part-left">
                <p class="gray-small">อธิบายเป้าหมายผลกระทบของโครงการ /องค์กร อะไรคือผลกระทบสูงสุดที่โครงการ/องค์กรต้องการให้บรรลุ? Describe the impact goals of the project / the organization. What are the ultimate impacts the project / the organization aims to achieve?</p>
                <div id="impactWrapper"></div>
                <button class="form-button" type="button" onclick="impactAdd()">+</button>&nbsp;
                <button class="form-button" type="button" onclick="impactMinus()">-</button>
                <div class="spacer-big"></div>                
            </div>
            <div class="form-part-right">
                <p class="gray-small">ตัวอย่าง Example</p>
                <p>
                    <ul>
                        <li>เพื่อพัฒนาความเป็นอยู่ทางเศรษฐกิจของชาวประมงรายย่อยในภาคใต้ของประเทศไทย (SDG 14; 14.b)</li>
                        <li>เพื่อส่งเสริมผู้หญิงจากครัวเรือนชาวประมงรายย่อยผ่านการจ้างงาน (SDG 5 - 5.5)</li>
                        <li>อนุรักษ์ระบบนิเวศมหาสมุทรด้วยการประมงที่ยั่งยืน (SDG 14 - 14.2, 14.4)</li>
                    </ul>
                    <ul>
                        <li>To improve economic well-being of small scale fishermen in Southern Thailand (SDG 14; 14.b)</li>
                        <li>To empower women from small scale fishermen households through employment (SDG 5 - 5.5)</li>
                        <li>To conserve ocean ecosystem through sustainable fishery (SDG 14 - 14.2, 14.4)</li>
                    </ul>
                </p>
            </div>
        </div>
        
        <p>คำอธิบายโดยย่อ Summary</p>
        <div class="form-part-wrapper">
            <div class="form-part-left">
                <p class="gray-small">ให้รายละเอียดเกี่ยวกับขอบเขตของงาน ร่างปัญหาที่โครงการ/องค์กรพยายามแก้ไข กระบวนการดำเนินการและพันธมิตร ทรัพยากรและกิจกรรมที่เกี่ยวข้อง Provide details on the scope of work. Outline the problems the project / the organization is trying to solve, the execution process, and partners, resources and activities that are involved.</p>
                <textarea id="summary">{{ project['json']['summary'] }}</textarea>
            </div>
            <div class="form-part-right">
                <p class="gray-small">ตัวอย่าง Example</p>
                <p>คนจับปลา (Fisherfolks) เป็นองค์กรเพื่อสังคมที่นำโดยผู้หญิงที่ส่งเสริมการทำประมงอย่างยั่งยืน ห่วงโซ่คุณค่าที่ดีขึ้นสำหรับผลิตภัณฑ์อาหารทะเล และความจำเป็นในการรับประทานอาหารทะเลปลอดสารเคมี พวกเขาร่วมมือกับชาวประมงรายย่อยในท้องถิ่นในการอนุรักษ์มหาสมุทร ให้ความรู้แก่ชุมชนเกี่ยวกับการใช้อุปกรณ์ตกปลาอย่างเหมาะสม และแหล่งที่มาจากผู้ที่ปฏิบัติตามแนวทางที่กำหนดเท่านั้น และไม่ใช้สารเคมีในการจับโดย Fisherfolks ให้เงินมากกว่าราคาตลาด 5-20% นอกจากนี้ Fisherfolk ยังเสนอโอกาสในการฝึกอบรมและอาชีพให้กับผู้หญิงจากครอบครัวชาวประมงที่โรงงานแปรรูปอาหารทะเล</p>
                <p>คนจับปลา (Fisherfolks) มีโรงงานแปรรูปอาหารทะเลในภาคใต้ 5 แห่ง ได้แก่ ประจวบ นครศรีธรรมราช สตูล พัทลุง และสงขลา เมื่อปลาที่จับมาได้แปรรูปเป็นอาหารทะเลแช่แข็ง ผลิตภัณฑ์ขั้นสุดท้ายจะจำหน่ายผ่านช่องทางการค้าในปัจจุบันและช่องทางโซเชียลมีเดียของ Fisherfolks เอง</p>
                <p>20% ของกำไรทั้งหมดจะถูกส่งกลับไปยังกิจกรรมการอนุรักษ์ที่ดำเนินการโดยชาวประมงรายย่อยในเครือข่ายของ Fisherfolks</p>
                <p>Fisherfolk is a woman led social enterprise that promotes sustainable fishery, a better value chain for seafood products, and the importance of consuming chemical free seafood. They work with local small scale fishermen on ocean conservation, educate them about the use of appropriate fishing equipment, and only source from those who abide by their rules and do not use chemical on their catch by paying them at 5-20% higher than market rate. Furthermore, Fisherfolk provides training and employment opportunities to women from fishermen households in their seafood processing facilities.</p>
                <p>Fisherfolk has seafood processing facilities at 5 locations in Southern Thailand, namely Prachuap, Nakhon Si Thammarat, Satun, Pattalung and Songkhla. Once the sea catches are processed into frozen seafood, the final products are distributed through both modern trade channels and Fisherfolk’s own social media channels. 20% of the total profit would be redirected back to conservation activities that are carried out by the small scale fishermen in Fisherfolk’s network.</p>
            </div>
        </div>
        
        <p>ระยะเวลา Duration (เดือน Month)</p>
        <div class="form-part-wrapper">
            <div class="form-part-left">
                <p id="durationGuide" class="red-em" style="display: none;">กรุณาใส่จำนวนเต็มเท่านั้น Please input whole numbers only.</p>
                <input id="duration" type="number" placeholder="จำนวนเดือน Num of Month" value="{{ project['json']['duration'] }}">                
            </div>
            <div class="form-part-right">
                <p class="gray-small">ตัวอย่าง Example</p>
                <p>12 เดือน (หมายเหตุ: กิจกรรมต่อเนื่องแต่ระยะเวลาอาจตามระยะเวลาการรายงานผล) 12 months (remark: ongoing activities but duration may follow impact reporting period)</p>
            </div>
        </div>
        
        <p>งบประมาณ Budget (บาท Baht)</p>
        <div class="form-part-wrapper">
            <div class="form-part-left">
                <p id="budgetGuide" class="red-em" style="display: none;">กรุณาใส่จำนวนเงินโดยไม่ต้องมีจุลภาค (,) สามารถใส่จุดทศนิยมได้ Please input numbers without comma (,). Can use period (.).</p>
                <input id="budget" type="number" placeholder="จำนวนบาท Amt in Baht" value="{{ project['json']['budget'] }}">                
            </div>
            <div class="form-part-right">
                <p class="gray-small">ตัวอย่าง Example</p>
                <p>ไม่เกี่ยวข้อง (ใช้ได้กับโครงการผลกระทบที่มีงบประมาณเฉพาะ) N/A (Applicable for impact projects with specific budget)</p>
            </div>
        </div>
        
        <p>ผู้รับผิดชอบ Team</p>
        <!-- <input id="team1Name" type="text" placeholder="ชื่อ Name"><input id="team1Position" type="text" placeholder="ตำแหน่ง Position">
        <div class="clear"></div> -->
        <div class="form-part-block">
            <div id="teamWrapper"></div>
            <button class="form-button" type="button" onclick="teamAdd()">+</button>&nbsp;
            <button class="form-button" type="button" onclick="teamMinus()">-</button>
            <div class="spacer-big"></div>
        </div>
        
        <p>ท่านต้องการเผยแพร่โครงการและ Impact Model ให้ผู้อื่นเห็นหรือไม่ Do you want to share this project and its impact model to the public?</p>
        <div class="form-part-block">
            <input type="checkbox" id="published" name="publish-checkbox" value="published">
            <label for="publish-checkbox"> เผยแพร่ Share</label>
        </div>
        
        <br>
        <div class="button-wrapper">
            <button id="formSubmit" class="button" type="button" onclick="fetchSubmit()">บันทึกข้อมูล<br>Submit</button>
        </div>
        <br>
    </div>
</main>
<script src="/static/project-edit.js"></script>
{% endblock %}