{% extends "base.html" %}

{% block content %}
<main class="main-wrapper">
    <p><a href="/project/{{ project.id }}">< กลับไปหน้าโครงการ Back to Project</a></p>
    <div class="spacer-big"></div>
    <div id="formApp">
        <div id="csrf">{{ form.csrf_token }}</div>
        <div id="projectId" style="display:none">{{ project.id }}</div>
        <div id="data" style="display:none">{{ data }}</div>

        <h1>แก้ไขข้อมูลโครงการ Project Edit</h1>
        <p>ชื่อโครงการ/องค์กร Project/Organisation Name</p>
        <input id="title" type="text" value="{{ project['json']['title'] }}">
        <br>
        <p>เป้าหมาย Impact Goals</p>
        <div id="impactWrapper"></div>
        <button class="form-button" type="button" onclick="impactAdd()">+</button>&nbsp;
        <button class="form-button" type="button" onclick="impactMinus()">-</button>
        <div class="spacer-big"></div>
        <p>คำอธิบายโดยย่อ Summary</p>
        <textarea id="summary">{{ project['json']['summary'] }}</textarea>
        <p>ระยะเวลา Duration (เดือน Month)</p>
        <p id="durationGuide" class="red-em" style="display: none;">กรุณาใส่จำนวนเต็มเท่านั้น Please input whole numbers only.</p>
        <input id="duration" type="number" placeholder="จำนวนเดือน Num of Month" value="{{ project['json']['duration'] }}">
        <p>งบประมาณ Budget (บาท Baht)</p>
        <p id="budgetGuide" class="red-em" style="display: none;">กรุณาใส่จำนวนเงินโดยไม่ต้องมีจุลภาค (,) สามารถใส่จุดทศนิยมได้ Please input numbers without comma (,). Can use period (.).</p>
        <input id="budget" type="number" placeholder="จำนวนบาท Amt in Baht" value="{{ project['json']['budget'] }}">
        <p>ผู้รับผิดชอบ Team</p>
        <!-- <input id="team1Name" type="text" placeholder="ชื่อ Name"><input id="team1Position" type="text" placeholder="ตำแหน่ง Position">
        <div class="clear"></div> -->
        <div id="teamWrapper"></div>
        <button class="form-button" type="button" onclick="teamAdd()">+</button>&nbsp;
        <button class="form-button" type="button" onclick="teamMinus()">-</button>
        <div class="spacer-big"></div>
        <p>ท่านต้องการเผยแพร่โครงการและ Impact Model ให้ผู้อื่นเห็นหรือไม่ Do you want to share this project and its impact model to the public?</p>
        <input type="checkbox" id="published" name="publish-checkbox" value="published">
        <label for="publish-checkbox"> เผยแพร่ Share</label><br>
        <br>
        <div class="button-wrapper">
            <button id="formSubmit" class="button" type="button" onclick="fetchSubmit()">บันทึกข้อมูล<br>Submit</button>
        </div>
        <br>
    </div>
</main>
<script src="/static/project-edit.js"></script>
{% endblock %}