{% extends "base.html" %}

{% block content %}
<div class="main-wrapper no-print">
    <span class="no-print"><a href="/">< กลับไปหน้าหลัก Back to Home</a></span>
</div>

<div class="main-bg-wrapper">    
    <div class="spacer-big no-print"></div>
    <div class="project-head-wrapper">
        <div class="project-head-img">
            {% if imgs %}
                <img class="org-logo" src="{{ imgs[0] }}" alt="{{ project.title }} logo">
            {% else %}
                <img class="org-logo placeholder" src="/static/impactflow-logo.png" alt="Placeholder image">
            {% endif %}
            {% if editable %}
                <div class="no-print">
                    <div class="align-center">
                        <br>
                        <a class="no-decoration" href="/project/{{ project.id }}/upload"><img src="/static/image.svg" alt="Image upload"><span class="edit-text-link"> Upload a logo</a></span>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="project-head-content">
            <h1>{{ project['json']['title'] }}</h1>
            {% if editable %}
                <div class="no-print">
                    <a class="no-decoration" href="/project/{{ project.id }}/edit"><img src="/static/edit.svg" alt="Edit"> <span class="edit-text-link"> Edit project</span></a>&nbsp;&nbsp;
                    <a class="no-decoration" href="/project/{{ project.id }}/delete"><img src="/static/delete.svg" alt="Delete"></a>
                    <br><br>
                </div>
            {% endif %}
            <span class="url">https://impactflow.org/project/{{ project.id }}</span>
            {% if project.published == True %}
                <span class="shared no-print">เผยแพร่ Shared</span>
                {% if editable %}
                    <span class="share-toggle-off no-print"><a href="/project/{{ project.id }}/publish/off">เปลี่ยนเป็นไม่เผยแพร่ Unshare</a></span>
                {% endif %}
            {% else %}
                <span class="private no-print">ไม่เผยแพร่ Private</span>
                {% if editable %}
                    <span class="share-toggle-on no-print"><a href="/project/{{ project.id }}/publish/on">เปลี่ยนเป็นเผยแพร่ Share</a></span>
                {% endif %}
            {% endif %}
            <!-- {% if project.mod_dt %}
                <p class="gray-small">Created: {{ project.create_dt|datetimefilter }} | Last edit: {{ project.mod_dt|datetimefilter }}</p>
            {% else %}
                <p class="gray-small">Created: {{ project.create_dt|datetimefilter }}</p>
            {% endif %} -->

            <h2 class="form-section-title">ภาพรวม Summary</h2>
            <p>{{ project['json']['summary'] }}</p>
            <div class="project-head-detail-wrapper">
                <div class="project-head-detail-left">
                    <p>
                        <span class="gray-small">Duration:</span> &nbsp;&nbsp;&nbsp;{{ project['json']['duration'] }} เดือน Month<br>
                        <span class="gray-small">Budget:</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ "{:,.2f}".format(project['json']['budget']) }} บาท Baht
                    </p>
                </div>
                <div class="project-head-detail-right">
                    <p>
                        {% for team in project['json']['team'] %}
                            {% if loop.index == 1 %}
                                <span class="gray-small">Team:</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ team['teamName'] }} ({{ team['teamPosition'] }})<br>
                            {% else %}
                                <span class="gray-small" style="visibility: hidden">Team: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>{{ team['teamName'] }} ({{ team['teamPosition'] }})
                            {% endif %}
                        {% endfor %}
                    </p>      
                </div>
            </div>
            <br>
        </div>
    </div>
       
    <h2 class="form-section-title">เป้าหมาย Impact Goals</h2>
    <div class="project-sdg-wrapper">
        {% for impact in project['json']['impact'] %}
            <div class="project-sdg-item">
                <p><strong>{{ impact['objective'] }}</strong></p>
                {% if impact['sdg']|length > 2 %}
                    <div class="impact-wrapper">
                        <div class="impact-sdg">
                            {% if impact['sdg'] == 'Goal 1: No Poverty' %}
                                <img class="sdg-icons" src="/static/TheGlobalGoals_Icons_Color_Goal_1.png" alt="{{ impact['sdg'] }}">
                            {% elif impact['sdg'] == 'Goal 2: Zero Hunger' %}
                                <img class="sdg-icons" src="/static/TheGlobalGoals_Icons_Color_Goal_2.png" alt="{{ impact['sdg'] }}">
                            {% elif impact['sdg'] == 'Goal 3: Good Health and Well-being' %}
                                <img class="sdg-icons" src="/static/TheGlobalGoals_Icons_Color_Goal_3.png" alt="{{ impact['sdg'] }}">
                            {% elif impact['sdg'] == 'Goal 4: Quality Education' %}
                                <img class="sdg-icons" src="/static/TheGlobalGoals_Icons_Color_Goal_4.png" alt="{{ impact['sdg'] }}">
                            {% elif impact['sdg'] == 'Goal 5: Gender Equality' %}
                                <img class="sdg-icons" src="/static/TheGlobalGoals_Icons_Color_Goal_5.png" alt="{{ impact['sdg'] }}">
                            {% elif impact['sdg'] == 'Goal 6: Clean Water and Sanitation' %}
                                <img class="sdg-icons" src="/static/TheGlobalGoals_Icons_Color_Goal_6.png" alt="{{ impact['sdg'] }}">
                            {% elif impact['sdg'] == 'Goal 7: Affordable and Clean Energy' %}
                                <img class="sdg-icons" src="/static/TheGlobalGoals_Icons_Color_Goal_7.png" alt="{{ impact['sdg'] }}">
                            {% elif impact['sdg'] == 'Goal 8: Decent Work and Economic Growth' %}
                                <img class="sdg-icons" src="/static/TheGlobalGoals_Icons_Color_Goal_8.png" alt="{{ impact['sdg'] }}">
                            {% elif impact['sdg'] == 'Goal 9: Industry, Innovation and Infrastructure' %}
                                <img class="sdg-icons" src="/static/TheGlobalGoals_Icons_Color_Goal_9.png" alt="{{ impact['sdg'] }}">
                            {% elif impact['sdg'] == 'Goal 10: Reduced Inequality' %}
                                <img class="sdg-icons" src="/static/TheGlobalGoals_Icons_Color_Goal_10.png" alt="{{ impact['sdg'] }}">
                            {% elif impact['sdg'] == 'Goal 11: Sustainable Cities and Communities' %}
                                <img class="sdg-icons" src="/static/TheGlobalGoals_Icons_Color_Goal_11.png" alt="{{ impact['sdg'] }}">
                            {% elif impact['sdg'] == 'Goal 12: Responsible Consumption and Production' %}
                                <img class="sdg-icons" src="/static/TheGlobalGoals_Icons_Color_Goal_12.png" alt="{{ impact['sdg'] }}">
                            {% elif impact['sdg'] == 'Goal 13: Climate Action' %}
                                <img class="sdg-icons" src="/static/TheGlobalGoals_Icons_Color_Goal_13.png" alt="{{ impact['sdg'] }}">
                            {% elif impact['sdg'] == 'Goal 14: Life Below Water' %}
                                <img class="sdg-icons" src="/static/TheGlobalGoals_Icons_Color_Goal_14.png" alt="{{ impact['sdg'] }}">
                            {% elif impact['sdg'] == 'Goal 15: Life on Land' %}
                                <img class="sdg-icons" src="/static/TheGlobalGoals_Icons_Color_Goal_15.png" alt="{{ impact['sdg'] }}">
                            {% elif impact['sdg'] == 'Goal 16: Peace and Justice Strong Institutions' %}
                                <img class="sdg-icons" src="/static/TheGlobalGoals_Icons_Color_Goal_16.png" alt="{{ impact['sdg'] }}">
                            {% elif impact['sdg'] == 'Goal 17: Partnerships to achieve the Goal' %}
                                <img class="sdg-icons" src="/static/TheGlobalGoals_Icons_Color_Goal_17.png" alt="{{ impact['sdg'] }}">
                            {% endif %}
                        </div>
                        <div class="impact-content">
                            <span>{{ impact['sdg'] }}</span>
                            {% for target in impact['target'] %}
                                <p class="black-small">{{ target }}</p>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                <div class="spacer-big"></div>
            </div>
        {% endfor %}
    </div>
    <br>
    {% if editable %}
        <div class="passed-zone no-print">
            <button id="print" class="button-edit" type="button" onclick="projectPrint()">พิมพ์โครงการ Print the project</button><br>
            <span class="gray-small">หากต้องการเซฟเป็นไฟล์ PDF ให้กดปุ่มแล้วเลือก Save to PDF แทนที่จะเลือกเครื่องพิมพ์ Please select 'Save to PDF' if you want a PDF file.</span>
        </div>
        <br>
        <hr>
    {% endif %}
 
    <h2 class="form-section-title">โมเดลผลกระทบทางสังคม Impact Model</h2>
    <p class="no-print">แบบจำลองผลกระทบมีส่วนสนับสนุนกรอบการทำงานเพื่อแสดงให้เห็นว่าผลกระทบถูกสร้างขึ้นอย่างไรเมื่อคำนึงถึงผู้มีส่วนได้ส่วนเสียที่เกี่ยวข้องต่างๆ โดยอธิบายว่ากิจกรรม ผลผลิต ผลลัพธ์ และผลกระทบนั้นมีความสัมพันธ์กันอย่างมีเหตุผลและทำหน้าที่เป็นพื้นฐานสำหรับการรวบรวมและวิเคราะห์ข้อมูล</p>
    <p class="no-print">แนวทางที่มุ่งเน้นผู้มีส่วนได้ส่วนเสียช่วยเพิ่มความสะดวกในการตรวจสอบความต้องการของผู้มีส่วนได้ส่วนเสียอีกครั้งว่า กิจกรรมที่จะดำเนินการ และผลลัพธ์ที่คาดหวังมีความสอดคล้องกันหรือไม่</p>
    <p class="no-print">The impact model helps provide a framework to show how impact is created with respect to the various stakeholders involved. It outlines how activity, output, outcome and impact are linked in a logical manner and provides a basis for data collection and analysis.</p>
    <p class="no-print">The stakeholder-oriented approach increases ease of rechecking whether the stakeholder's needs, activities to be executed and the expected outcomes are aligned.</p>
    {% if editable %}
        {% if outcomes|length > 0 %}
            {% if impact_diff_ordered|length > 0 %}
                <div class="caution-zone no-print">
                    <p>ยังมีเป้าหมายบางเป้าหมายของโครงการที่ยังไม่ถูกเชื่อมโยงกับผลลัพธ์ใดๆ เลย กรุณาตรวจสอบว่าผลลัพธ์ได้เชื่อมโยงกับเป้าหมายด้านล่างนี้ The following project's goals are not currently achieved by any outcome. Please make sure there's at least one outcome that is compatible with these goals:</p>
                    <ul>
                        {% for diff in impact_diff_ordered %}
                            <li>{{ diff }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <br>
            {% endif %}
        {% endif %}
    {% endif %}
    {% if not stakeholders %}
        {% if editable %}
            <p class="no-print"><strong>เริ่มสร้าง Impact model โดยการเพิ่มผู้มีส่วนได้เสีย Start creating an impact model by adding a stakeholder.</strong></p>
            <div class="align-center">
                <a class="no-decoration no-print" href="/project/{{ project.id }}/stakeholder-create"><button class="button">เพิ่มผู้มีส่วนได้เสีย<br>Add a stakeholder</button></a>
            </div>
            
        {% endif %}
    {% else %}
        <table>
            <tr>
                <th class="activity">กิจกรรม Activities</th>
                <th class="activity">ผลผลิต Outputs</th>
                <th class="activity">ผลลัพธ์ Outcomes</th>
            </tr>
        {% for stakeholder in stakeholders %}
            <tr>
                <td class="stakeholder" colspan="3">
                    <div class="project-stakeholder-wrapper">
                        <div class="project-stakeholder-left">
                            <span class="gray-small">Stakeholder</span> &nbsp;&nbsp;&nbsp;<span><strong>{{ stakeholder['json']['stakeholder'] }}</strong></span><br>
                            <div class="spacer-big"></div>
                            <span class="gray-small">Description</span> &nbsp;&nbsp;&nbsp;&nbsp;{{ stakeholder['json']['description'] }}
                        </div>
                        <div class="project-stakeholder-right">
                            <span class="gray-small">ประเภท Type of beneficiary </span> &nbsp;&nbsp;&nbsp;{{ stakeholder['json']['degree'] }}<br>
                            <div class="spacer-big"></div>
                            <span class="gray-small">ความสำคัญ Importance</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ stakeholder['json']['importance'] }}<br>
                        </div>
                        
                        {% if editable %}
                            <div class="no-print">
                                <div class="spacer-big"></div>
                                <a class="gray-small" href="/project/{{ project.id }}/{{ stakeholder.id }}/edit"><img src="/static/edit.svg" alt="Edit"></a>
                                <a class="gray-small" href="/project/{{ project.id }}/{{ stakeholder.id }}/delete"><img src="/static/delete.svg" alt="Delete"></a>
                            </div>
                        {% endif %}
                    </div>
                </td>
            </tr>
            <tr>
                <td class="activity">
                    {% for activity in activities %}
                        {% if activity[0] == stakeholder.id %}
                            <div class="activity-index" style="background-color: {{ activity[1]['json']['bgcolor'] }};">
                                {% if loop.index == 1%}A
                                {% elif loop.index == 2 %}B
                                {% elif loop.index == 3 %}C
                                {% elif loop.index == 4 %}D
                                {% elif loop.index == 5 %}E
                                {% elif loop.index == 6 %}F
                                {% elif loop.index == 7 %}G
                                {% elif loop.index == 8 %}H
                                {% elif loop.index == 9 %}I
                                {% elif loop.index == 10 %}J
                                {% elif loop.index == 11 %}K
                                {% elif loop.index == 12 %}L
                                {% elif loop.index == 13 %}M
                                {% elif loop.index == 14 %}N
                                {% elif loop.index == 15 %}O
                                {% elif loop.index == 16 %}P
                                {% elif loop.index == 17 %}Q
                                {% elif loop.index == 18 %}R
                                {% elif loop.index == 19 %}S
                                {% elif loop.index == 20 %}T
                                {% elif loop.index == 21 %}U
                                {% elif loop.index == 22 %}V
                                {% elif loop.index == 23 %}W
                                {% elif loop.index == 24 %}X
                                {% elif loop.index == 25 %}Y
                                {% elif loop.index == 26 %}Z
                                {% endif %}
                            </div>
                            
                            <div class="activity-wrapper">
                                <div class="activity-inner-wrapper">
                                    <div class="activity-inner-color" style="background-color: {{ activity[1]['json']['bgcolor'] }};">
                                        
                                    </div>
                                    <div class="activity-inner-content">
                                        <h2>{{ activity[1]['json']['activity'] }}</h2>
                                        {% if editable %}
                                            <div class="no-print">
                                                <a class="gray-small" href="/project/{{ project.id }}/{{ stakeholder.id }}/{{ activity[1].id }}/edit"><img src="/static/edit.svg" alt="Edit"></a>
                                                <a class="gray-small" href="/project/{{ project.id }}/{{ stakeholder.id }}/{{ activity[1].id }}/delete"><img src="/static/delete.svg" alt="Delete"></a>
                                            </div>
                                        {% endif %}
                                        <div class="spacer-big"></div>                                         
                                    </div>
                                </div>      
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% if editable %}
                        <div class="no-print">
                            <a class="no-decoration" href="/project/{{ project.id }}/{{ stakeholder.id }}/activity-create"><button class="add-model">+ เพิ่มกิจกรรม Add an activity ({{ stakeholder['json']['stakeholder'] }})</button></a>
                        </div>
                    {% endif %}
                </td>
                <td class="activity">
                    {% for activity in activities %}
                        {% if activity[0] == stakeholder.id %}
                            <div class="activity-index" style="background-color: {{ activity[1]['json']['bgcolor'] }};">
                                {% if loop.index == 1%}A
                                {% elif loop.index == 2 %}B
                                {% elif loop.index == 3 %}C
                                {% elif loop.index == 4 %}D
                                {% elif loop.index == 5 %}E
                                {% elif loop.index == 6 %}F
                                {% elif loop.index == 7 %}G
                                {% elif loop.index == 8 %}H
                                {% elif loop.index == 9 %}I
                                {% elif loop.index == 10 %}J
                                {% elif loop.index == 11 %}K
                                {% elif loop.index == 12 %}L
                                {% elif loop.index == 13 %}M
                                {% elif loop.index == 14 %}N
                                {% elif loop.index == 15 %}O
                                {% elif loop.index == 16 %}P
                                {% elif loop.index == 17 %}Q
                                {% elif loop.index == 18 %}R
                                {% elif loop.index == 19 %}S
                                {% elif loop.index == 20 %}T
                                {% elif loop.index == 21 %}U
                                {% elif loop.index == 22 %}V
                                {% elif loop.index == 23 %}W
                                {% elif loop.index == 24 %}X
                                {% elif loop.index == 25 %}Y
                                {% elif loop.index == 26 %}Z
                                {% endif %}
                            </div>
                            
                            {% for output in outputs %}
                                {% if output[0] == activity[1].id %}
                                    <div class="activity-wrapper">
                                        <div class="activity-inner-wrapper">
                                            <div class="activity-inner-color" style="background-color: {{ activity[1]['json']['bgcolor'] }};">

                                            </div>
                                            <div class="activity-inner-content">
                                                <h2>{{ output[1]['json']['output'] }}</h2>
                                                <p class="impact-type">From {{ activity[1]['json']['activity'] }}</p>
                                                <p><em><u>{{ output[1]['json']['indicator'] }}</u></em></p>
                                                <span class="gray-small">จำนวนเริ่ม Baseline Amount</span><br>
                                                {{ output[1]['json']['indicatorBaseline'] }} {{ output[1]['json']['indicatorUnit'] }}<br>
                                                <div class="spacer-big"></div>
                                                <span class="gray-small">จำนวนเป้าหมาย Target Amount</span><br>
                                                {{ output[1]['json']['indicatorTarget'] }} {{ output[1]['json']['indicatorUnit'] }}<br>
                                                {% if editable %}
                                                    <div class="no-print">
                                                        <br>
                                                        <a class="gray-small" href="/project/{{ project.id }}/{{ stakeholder.id }}/{{ activity[1].id }}/{{ output[1].id }}/edit"><img src="/static/edit.svg" alt="Edit"></a>
                                                        <a class="gray-small" href="/project/{{ project.id }}/{{ stakeholder.id }}/{{ activity[1].id }}/{{ output[1].id }}/delete"><img src="/static/delete.svg" alt="Delete"></a>
                                                    </div>
                                                {% endif %}
                                                <div class="spacer-big"></div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            {% if editable %}
                                <div class="no-print">
                                    <a class="no-decoration" href="/project/{{ project.id }}/{{ stakeholder.id }}/{{ activity[1].id }}/output-create"><button class="add-model" style="color: #4d4d4d; background-color: {{ activity[1]['json']['bgcolor'] }};">+ เพิ่มผลผลิต Add an output ({{ activity[1]['json']['activity'] }})</button></a>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    
                </td>
                <td class="activity">
                    {% for activity in activities %}
                        {% if activity[0] == stakeholder.id %}
                            <div class="activity-index" style="background-color: {{ activity[1]['json']['bgcolor'] }};">
                                {% if loop.index == 1%}A
                                {% elif loop.index == 2 %}B
                                {% elif loop.index == 3 %}C
                                {% elif loop.index == 4 %}D
                                {% elif loop.index == 5 %}E
                                {% elif loop.index == 6 %}F
                                {% elif loop.index == 7 %}G
                                {% elif loop.index == 8 %}H
                                {% elif loop.index == 9 %}I
                                {% elif loop.index == 10 %}J
                                {% elif loop.index == 11 %}K
                                {% elif loop.index == 12 %}L
                                {% elif loop.index == 13 %}M
                                {% elif loop.index == 14 %}N
                                {% elif loop.index == 15 %}O
                                {% elif loop.index == 16 %}P
                                {% elif loop.index == 17 %}Q
                                {% elif loop.index == 18 %}R
                                {% elif loop.index == 19 %}S
                                {% elif loop.index == 20 %}T
                                {% elif loop.index == 21 %}U
                                {% elif loop.index == 22 %}V
                                {% elif loop.index == 23 %}W
                                {% elif loop.index == 24 %}X
                                {% elif loop.index == 25 %}Y
                                {% elif loop.index == 26 %}Z
                                {% endif %}
                            </div>
                            
                            {% for output in outputs %}
                                {% if output[0] == activity[1].id %}
                                    {% for outcome in outcomes %}
                                        {% if outcome[0] == output[1].id %}
                                            <div class="activity-wrapper">
                                                <div class="activity-inner-wrapper">
                                                    <div class="activity-inner-color" style="background-color: {{ activity[1]['json']['bgcolor'] }};">
        
                                                    </div>
                                                    <div class="activity-inner-content">
                                                        <h2>{{ outcome[1]['json']['outcome'] }}</h2>
                                                        <p class="impact-type">From {{ output[1]['json']['output'] }}</p>
                                                        <p><em><u>{{ outcome[1]['json']['indicator'] }}</u></em></p>
                                                        <span class="gray-small">จำนวนเริ่ม Baseline Amount</span><br>
                                                        {{ outcome[1]['json']['indicatorBaseline'] }} {{ outcome[1]['json']['indicatorUnit'] }}<br>
                                                        <div class="spacer-big"></div>
                                                        <span class="gray-small">จำนวนเป้าหมาย Target Amount</span><br>
                                                        {{ outcome[1]['json']['indicatorTarget'] }} {{ outcome[1]['json']['indicatorUnit'] }}<br>
                                                        <div class="spacer-big"></div>
                                                        <span class="gray-small">สอดคล้องกับเป้าหมาย Compatible with impact goals</span><br>
                                                        {% for target in outcome[1]['json']['impactCheck'] %}
                                                            {{ target }}<br>
                                                        {% endfor %}
                                                        
                                                        {% if editable %}
                                                            <div class="no-print">
                                                                <br>
                                                                <a class="gray-small" href="/project/{{ project.id }}/{{ stakeholder.id }}/{{ activity[1].id }}/{{ output[1].id }}/{{ outcome[1].id }}/edit"><img src="/static/edit.svg" alt="Edit"></a>
                                                                <a class="gray-small" href="/project/{{ project.id }}/{{ stakeholder.id }}/{{ activity[1].id }}/{{ output[1].id }}/{{ outcome[1].id }}/delete"><img src="/static/delete.svg" alt="Delete"></a>
                                                            </div>
                                                        {% endif %}
                                                        <div class="spacer-big"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                    {% if editable %}
                                        <div class="no-print">
                                            <a class="no-decoration" href="/project/{{ project.id }}/{{ stakeholder.id }}/{{ activity[1].id }}/{{ output[1].id }}/outcome-create"><button class="add-model" style="color: #4d4d4d; background-color: {{ activity[1]['json']['bgcolor'] }};">+ เพิ่มผลลัพธ์ Add an outcome ({{ output[1]['json']['output'] }})</button></a>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        {% if editable %}
            <tr class="no-print" style="border-top: 1px solid #cccccc;">
                <td class="align-center" colspan="3">
                    <br>
                    <a class="no-decoration" href="/project/{{ project.id }}/stakeholder-create"><button class="button">+ เพิ่มผู้มีส่วนได้เสีย Add a stakeholder</button></a>
                    <div class="spacer-small"></div>
                </td>
            </tr>
        {% endif %}
        </table>
        
    {% endif %}
</div>
<script src="/static/project-tool.js"></script>
{% endblock %}