{% extends "base.html" %}

{% block content %}
<main class="main-wrapper">
    <p><a href="/">< กลับไปหน้าหลัก Back to Home</a></p>
    <div class="spacer-big"></div>
    <div id="formApp">
        <div id="csrf">{{ form.csrf_token }}</div>
        <h1>สร้างโครงการใหม่ Project Creation</h1>
        <p>ชื่อโครงการ/องค์กร Project/Organisation Name</p>
        <input id="title" type="text">
        <br>
        <p>เป้าหมาย Impact Goals</p>
        <select name="sdg1" id="sdg1" onchange="filterTarget(1)">
            <option value="" disabled selected>--- เลือก SDG Goal. Choose an SDG Goal. ---</option>
            <option value="Goal 1: No Poverty">Goal 1: No Poverty</option>
            <option value="Goal 2: Zero Hunger">Goal 2: Zero Hunger</option>
            <option value="Goal 3: Good Health and Well-being">Goal 3: Good Health and Well-being</option>
            <option value="Goal 4: Quality Education">Goal 4: Quality Education</option>
            <option value="Goal 5: Gender Equality">Goal 5: Gender Equality</option>
            <option value="Goal 6: Clean Water and Sanitation">Goal 6: Clean Water and Sanitation</option>
            <option value="Goal 7: Affordable and Clean Energy">Goal 7: Affordable and Clean Energy</option>
            <option value="Goal 8: Decent Work and Economic Growth">Goal 8: Decent Work and Economic Growth</option>
            <option value="Goal 9: Industry, Innovation and Infrastructure">Goal 9: Industry, Innovation and Infrastructure</option>
            <option value="Goal 10: Reduced Inequality">Goal 10: Reduced Inequality</option>
            <option value="Goal 11: Sustainable Cities and Communities">Goal 11: Sustainable Cities and Communities</option>
            <option value="Goal 12: Responsible Consumption and Production">Goal 12: Responsible Consumption and Production</option>
            <option value="Goal 13: Climate Action">Goal 13: Climate Action</option>
            <option value="Goal 14: Life Below Water">Goal 14: Life Below Water</option>
            <option value="Goal 15: Life on Land">Goal 15: Life on Land</option>
            <option value="Goal 16: Peace and Justice Strong Institutions">Goal 16: Peace and Justice Strong Institutions</option>
            <option value="Goal 17: Partnerships to achieve the Goal">Goal 17: Partnerships to achieve the Goal</option>
        </select>
        <div id="target1"></div>
        <br>
        <div id="impactWrapper"></div>
        <button class="form-button" type="button" onclick="impactAdd()">+</button>&nbsp;
        <button class="form-button" type="button" onclick="impactMinus()">-</button>
        <div class="spacer-big"></div>
        <p>คำอธิบายโดยย่อ Summary</p>
        <textarea id="summary"></textarea>
        <br><br>
        <p>ระยะเวลา Duration (เดือน Month)</p>
        <p id="durationGuide" class="red-em" style="display: none;">กรุณาใส่จำนวนเต็มเท่านั้น Please input whole numbers only.</p>
        <input id="duration" type="number" placeholder="จำนวนเดือน Num of Month">
        <p>งบประมาณ Budget (บาท Baht)</p>
        <p id="budgetGuide" class="red-em" style="display: none;">กรุณาใส่จำนวนเงินโดยไม่ต้องมีจุลภาค (,) สามารถใส่จุดทศนิยมได้ Please input numbers without comma (,). Can use period (.).</p>
        <input id="budget" type="number" placeholder="จำนวนบาท Amt in Baht">
        <p>ผู้รับผิดชอบ Team</p>
        <input id="team1Name" type="text" placeholder="ชื่อ Name"><input id="team1Position" type="text" placeholder="ตำแหน่ง Position">
        <div class="clear"></div>
        <div id="teamWrapper"></div>
        <button class="form-button" type="button" onclick="teamAdd()">+</button>&nbsp;
        <button class="form-button" type="button" onclick="teamMinus()">-</button>
        <div class="spacer-big"></div>
        <p>ท่านต้องการเผยแพร่โครงการและ Impact Model ให้ผู้อื่นเห็นหรือไม่ Do you want to share this project and its impact model to the public?</p>
        <input type="checkbox" id="published" name="publish-checkbox" value="published" checked>
        <label for="publish-checkbox"> เผยแพร่ Share</label><br>
        <br>
        <div class="button-wrapper">
            <button id="formSubmit" class="button" type="button" onclick="fetchSubmit()">บันทึกข้อมูล<br>Submit</button>
        </div>
        <br>
    </div>
</main>
<script src="/static/project-create.js"></script>
{% endblock %}