{% extends "base.html" %}

{% block content %}
<div class="main-wrapper">
    <p><a href="/project/{{ project.id }}">< กลับไปหน้าโครงการ Back to Project</a></p>
    <div class="spacer-big"></div>
    <div class="main-flex-wrapper">
        <div class="main-flex-left">
            <p>โครงการ Project: {{ project['json']['title'] }}</p>
            <h1>ผู้มีส่วนได้เสีย Stakeholder: {{ stakeholder['json']['stakeholder'] }}</h1>
            {% if stakeholder.mod_dt %}
                <p class="gray-small">Created: {{ stakeholder.create_dt|datetimefilter }} | Last edit: {{ stakeholder.mod_dt|datetimefilter }}</p>
            {% else %}
                <p class="gray-small">Created: {{ stakeholder.create_dt|datetimefilter }}</p>
            {% endif %}
            <h2>ประเภทของผู้มีส่วนได้เสียนี้ Type of beneficiary</h2>
            <p>{{ stakeholder['json']['degree'] }}</p>
            <h2>ระดับความสำคัญของผู้มีส่วนได้เสียนี้ Degree of importance</h2>
            <p>{{ stakeholder['json']['importance'] }}</p>
            <h2>คำอธิบาย Description</h2>
            <p>{{ stakeholder['json']['description'] }}</p>
            <br>
            {% if editable %}
                <div class="passed-zone">
                    <div class="spacer-small"></div>
                    <a class="no-decoration" href="/project/{{ project.id }}/{{ stakeholder.id }}/edit"><button class="button">แก้ไขผู้ได้รับประโยชน์นี้<br>Edit stakeholder</button></a>&nbsp;&nbsp;
                    <span class="caution"><a href="/project/{{ project.id }}/{{ stakeholder.id }}/delete">ลบผู้ได้รับประโยชน์นี้ Delete this stakeholder</a></span>
                </div>
                <br>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}