{% extends "base.html" %}

{% block content %}
<main class="main-wrapper">
    <p><a href="/project/{{ project.id }}">< กลับไปหน้าโครงการ Back to Project</a></p>
    <div class="spacer-big"></div>
    <div id="formApp">
        <div id="csrf">{{ form.csrf_token }}</div>
        <div id="projectId" style="display: none;">{{ project.id }}</div>
        <div id="stakeholderId" style="display: none;">{{ stakeholder.id }}</div>
        <div id="data" style="display:none">{{ data }}</div>

        <h1>ผู้มีส่วนได้เสีย Stakeholder</h1>
        <p>ผู้มีส่วนได้เสีย Stakeholder</p>
        <p class="help-text">ระบุกลุ่มคนเป็นประเภท เช่น นักเรียน ผู้สูงอายุ ผู้ป่วย เกษตรกร Specify a general group of people, e.g. student, elderly, patient, farmer</p>
        <input id="stakeholder" type="text" value="{{ stakeholder['json']['stakeholder'] }}">
        <br>
        <p>ประเภทของผู้มีส่วนได้เสียนี้ Degree of benefit</p>
        <input id="degree1" type="radio" name="degree" value="ผู้รับประโยชน์ทางตรง Direct beneficiary">
        <label for="degree1">ผู้รับประโยชน์ทางตรง Direct beneficiary</label>
        <input id="degree2" type="radio" name="degree" value="ผู้รับประโยชน์ทางอ้อม Indirect beneficiary">
        <label for="degree2">ผู้รับประโยชน์ทางอ้อม Indirect beneficiary</label>
        <input id="degree3" type="radio" name="degree" value="ผู้เป็นปัจจัยความสำเร็จของโครงการ Project success enabler">
        <label for="degree3">ผู้เป็นปัจจัยความสำเร็จของโครงการ Project success enabler</label>
        <br>
        <p>ระดับความสำคัญของผู้มีส่วนได้เสียนี้ Degree of importance</p>
        <input id="importance1" type="radio" name="importance" value="สูง High">
        <label for="importance1">สูง High</label>
        <input id="importance2" type="radio" name="importance" value="ปกติ Normal">
        <label for="importance2">ปกติ Normal</label>
        <input id="importance3" type="radio" name="importance" value="น้อย Low">
        <label for="importance3">น้อย Low</label>
        <br>
        <p>คำอธิบาย Description</p>
        <p class="help-text">อธิบายว่าผู้มีส่วนได้เสียนี้เป็นใคร มีลักษณะอย่างไร อยู่ที่ไหน จำนวนเท่าใด เช่น นักเรียนยากจนภาคเหนือที่ไม่ได้ทานอาหารเช้าก่อนมาโรงเรียน จำนวน 500 คน Describe this stakeholder: who they are, what problem do they have, where they are, how many are they, e.g. 500 poor students in the north who skip breakfast before coming to school.</p>
        <textarea id="description">{{ stakeholder['json']['description'] }}</textarea>
        <br><br>
        
        <div class="button-wrapper">
            <button id="formSubmit" class="button" type="button" onclick="fetchSubmit()">บันทึกข้อมูล<br>Submit</button>
        </div>
        <br>
    </div>
</main>
<script src="/static/stakeholder-edit.js"></script>
{% endblock %}